<ion-view view-title="Conselharia">
    <ion-content>
        <div class="divider-title">Gestão atual</div>
        <ul class="timeline">
            <li>
                <div class="timeline-thumb bg-color-blue timeline-icon">
                    <i class="ion-person"></i>
                </div>
                <div class="timeline-item">
                    <h4>Felipe de Oliveira Fontes</h4>
                    <h5>Igor Schimt dos Santos</h5>
                    <h6>Matheus Melo Pessoa dos Santos</h6>
                    <div class="timeline-stats">
                        <i class="ion-calendar"></i> 2ºSem/2016
                        <span class="pos-absolute-right"><i class="ion-document-text"></i> XXXIII Gestão</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="divider-title">Gestões anteriores</div>
        <ul class="timeline">
            <li ng-repeat="item in conselhariaLinhadotempo">
                <div class="timeline-thumb bg-color-blue timeline-icon">
                    <i class="ion-person"></i>
                </div>
                <div class="timeline-item">
                    <h4>{{item.mestreConselheiro}}</h4>
                    <h5>{{item.primeiroConselheiro}}</h5>
                    <h6>{{item.segundoConselheiro}}</h6>
                    <div class="timeline-stats">
                        <i class="ion-calendar"></i> {{item.ano}}
                        <span class="pos-absolute-right"><i class="ion-document-text"></i> {{item.numGestao}} Gestão</span>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
