<ion-view view-title="Contato">
    <ion-content>
        <div class="list list-inset">
            <h3>Entre em contato!</h3>
            <p>Preencha os campos abaixo</p>
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Digite seu nome">
            </label>
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="email" placeholder="Digite seu e-mail">
            </label>
            <label class="item item-input">
                <i class="icon ion-android-call placeholder-icon"></i>
                <input type="tel" placeholder="Digite seu telefone">
            </label>
            <label class="item item-input">
                <i class="icon ion-compose placeholder-icon"></i>
                <input type="text" placeholder="Digite o assunto da mensagem">
            </label>
            <label class="item item-input">
                <textarea placeholder="Digite sua mensagem" rows="5" cols="10"></textarea>
            </label>
            <button class="button button-block button-outline button-assertive">Enviar mensagem</button>
        </div>
    </ion-content>
</ion-view>
