<ion-view view-title="Contato">
    <ion-content>
        <div class="list list-inset">
            <h3>Entre em Contato conosco!</h3>
            <p>Preencha o formulário abaixo.</p>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Digite seu nome" autofocus autocomplete="name">
            </label>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="tel" placeholder="Digite seu telefone" autocomplete="tel">
            </label>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="email" placeholder="Digite seu e-mail" autocomplete="email">
            </label>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Digite o assunto da mensagem" autocomplete="on">
            </label>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <textarea placeholder="Mensagem" rows="4" cols="10"></textarea>
            </label>
        </div>
    </ion-content>
</ion-view>
