<ion-view view-title="Eventos">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/logo-evento.jpg">
                <h2><b>Evento da Hiram</b></h2>
            </div>

            <div class="item item-image">
                <img src="img/convite-evento.jpg">
            </div>

            <div class="item item-body">
                <p>
                    <span class="sublinhar">Evento:</span> Feijoada
                    <br><span class="sublinhar">Data:</span> 13 de novembro de 2016
                    <br><span class="sublinhar">Preço:</span> R$35*
                    <br><span class="sublinhar">Local:</span> Educandário Santista
                    <br><span class="sublinhar">Endereço:</span> Av. Conselheiro Nébias, 680 - Boqueirão, Santos - SP
                    <br>
                </p>
            </div>

            <div class="item item-icon-left assertive">
                <div style="float:left;">
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fevents%2F1627559294201256%2F&layout=button&size=large&mobile_iframe=true&width=117&height=28&appId" width="117" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div>
                    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                    <form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
                        <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                        <input type="hidden" name="itemCode" value="323371B82D2D0C0FF4B00FB7332C92F7" />
                        <input type="hidden" name="iot" value="button" />
                        <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                    </form>
                    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                </div>
            </div>

            <div class="item item-body">
                <p>*Aguarde até todos os itens serem carregados.</p>
                <p style="float:rigth;">
                    <a ng-click="modal.show()" class="subdued"><i class="icon ion-information-circled"></i> Mais informações</a>
                </p>
            </div>
        </div>
    </ion-content>
    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-assertive">
                <h1 class="title">Informações</h1>
                <button class="button  button-small button-clear button-primary" ng-click="modal.hide()"><i class="icon ion-close"></i></button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="card">
                    <div class="item item-divider">
                        Informações gerais
                    </div>
                    <div class="item item-text-wrap justificar">
                        Crianças até 7 anos de idade não pagam entrada no evento.
                    </div>
                    <div class="item item-text-wrap justificar">
                        Bebidas e doces a parte.
                    </div>
                    <div class="item item-text-wrap justificar">
                        Para acompanhamento teremos arroz, farofa e saladas.
                    </div>

                    <div class="item item-divider">
                        Pagamento via PagSeguro
                    </div>
                    <div class="item item-text-wrap justificar">
                        Os convites do evento podem ser adquiridos com os membros do Capítulo ou via PagSeguro.
                    </div>
                    <div class="item item-text-wrap justificar">
                        Ao comprar seu convite via PagSeguro <span class="sublinhar">guarde o seu comprovante de pagamento</span> para apresentar na entrada do evento. O mesmo será o seu convite.
                    </div>
                    <div class="item item-text-wrap justificar">
                        Formas de pagamento fornecidos pelo PagSeguro:
                        <br>Cartões de crédito (), débito online, depósito em conta e boleto bancário.
                    </div>
                    <div class="item item-text-wrap justificar">
                        É possível comprar mais de um convite via PagSeguro.
                    </div>
                    <div class="item item-text-wrap justificar">
                        Na compra via PagSeguro é cobrado uma taxa de R$1,00 sobre o valor total da sua compra.
                    </div>

                    <div class="item item-divider">
                        Dúvidas
                    </div>
                    <div class="item item-text-wrap justificar">
                        Caso tenha dúvidas entre em contato via e-mail.
                    </div>
                </div>

                <div class="card">
                    <div class="item item-divider">
                        Local do evento
                    </div>
                    <div class="item item-text-wrap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d885.5242518586874!2d-46.32388313818938!3d-23.964388049909182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x58548722191e59ff!2sEducandario+Santista!5e0!3m2!1spt-BR!2sbr!4v1473695092310" width="350" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <a class="item item-icon-left assertive" href="https://goo.gl/maps/sF53msEQC6z">
                        <i class="icon ion-location"></i> Veja em Google Maps
                    </a>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
