<ion-view view-title="Home">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/logo-evento.jpg">
                <h2><b>Eventos</b></h2>
            </div>

            <div class="item item-text-wrap">
                <p>Vem ai mais eventos do Capítulo Hiram Abif! Compre já seu convite!!</p>
            </div>

            <a class="item item-icon-left assertive" href="#/app/eventos">
                <i class="icon ion-chatbox-working"></i> Veja mais
            </a>
        </div>

        <div class="list card">
            <div class="item item-avatar">
                <img src="img/logo-facebook.jpg">
                <h2><b>Facebook</b></h2>
            </div>

           <div class="item item-text-wrap">
                <p>Curta nossa página e fique por dentro das novidades!</p>
            </div>

            <div class="item item-image">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCapituloHiramAbif%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>

            <a class="item item-icon-left assertive" href="#/app/redesSociais">
                <i class="icon ion-social-facebook"></i> Veja mais
            </a>
        </div>
    </ion-content>
</ion-view>
