<ion-view view-title="Home">
    <!--<ion-content>
        <div class="card">
            <div class="item item-divider">
                Pauta das reuniões da XXXIII Gestão
            </div>
            <div class="item item-text-wrap">
                Fique por dentro de toda a programação de nossas próximas reunioes!
            </div>
            <div class="item item-divider">
                <a href="#/app/login">
                    <button class="button button-small button-outline button-assertive">
                        <i class="icon ion-document-text"></i> Veja mais
                    </button>
                </a>
            </div>
        </div>
    </ion-content>-->
</ion-view>
