<ion-view view-title="Informações App">
    <ion-content>
        <div class="list card">
            <div class="item item-divider">
                Versão
            </div>
            <a class="item item-icon-left">
                <i class="icon ion-cube"></i> 1.0.0
            </a>
        </div>

        <div class="list card">
            <div class="item item-divider">
                Disponível para
            </div>
            <a class="item item-icon-left">
                <i class="icon ion-social-android"></i> Android
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-social-apple"></i> iOS (em breve)
            </a>
        </div>

        <div class="list card">
            <div class="item item-divider">
                Desenvolvimento
            </div>
            <a href="http://matheusmpessoa.github.io/#/" class="item item-icon-left">
                <i class="icon ion-code"></i> Matheus Pessoa
                <p>Programação full-stack e
                    <br> designer da UX (usabilidade).</p>
            </a>

            <div class="item item-divider">
                Textos
            </div>
            <a class="item item-icon-left">
                <i class="icon ion-quote"></i> Lucas Batistoti
                <p>Escrita de textos e explicações.</p>
            </a>

            <div class="item item-divider">
                Arte
            </div>
            <a class="item item-icon-left">
                <i class="icon ion-paintbrush"></i> Gabriel Batistoti
                <p>Criação de imagens e arte.</p>
            </a>
        </div>
    </ion-content>
</ion-view>
