<ion-view view-title="Pauta Reunião">
    <ion-content>
        <ion-item class="list card">

            <div class="item item-avatar">
                <img src="../img/logo-brasao-demolay.jpg">
                <h2>Pauta Reunião</h2>
                <p>Pauta com conteúdo da reunião <br>da atual gestão DeMolay.</p>
            </div>

            <div class="item item-body">
                <p>Pauta com conteúdo da reunião da atual gestão DeMolay.</p>
            </div>

        </ion-item>
    </ion-content>
</ion-view>
