<ion-view view-title="Playlist">
    <ion-content>

        <div class="divider-title">Hinos</div>
        <div class="list">
            <span class="item" ng-click="show = !show" ng-repeat="item in hino">
               {{item.title}}
                <div ng-show="show">
                    <div style="padding-top:10px;">
                        <iframe width="300" height="190" ng-src="{{item.url | FilterPlaylist}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </span>
        </div>
        <div class="divider-title">Harmonia</div>
        <div class="list">
            <span class="item" ng-click="show = !show" ng-repeat="item in harmonia">
               {{item.title}}
                <div ng-show="show">
                    <div style="padding-top:10px;">
                        <iframe width="300" height="190" ng-src="{{item.url | FilterPlaylist}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </span>
        </div>
        <ion-item class="list card">
            <div class="item item-avatar">
                <img src="img/logo-youtube.png">
                <h2><b>Canal do Youtube</b></h2>
            </div>

            <div class="item item-body">
                <p>Confira aqui o canal do Youtube com todas as playlists criadas!!!</p>
                <p>
                    <a href="https://www.youtube.com/channel/UCAWlwPvsV2LsRaoq1PcnheQ" class="subdued"><i class="icon ion-music-note" style="color:#F00;"> Ir para canal</i></a>
                </p>
                <p>
                    <a href="https://www.youtube.com/channel/UCAWlwPvsV2LsRaoq1PcnheQ/playlists?view=1&shelf_id=0&sort=dd" class="subdued"><i class="icon ion-music-note" style="color:#F00;"> Ir para playlists</i></a>
                </p>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
