<ion-view view-title="Playlist Spotify">
    <ion-content>
        <ion-item class="list card">
            <div class="item item-avatar">
                <img src="img/logo-spotify.png">
                <h2>Playlist Spotify</h2>
                <p>Músicas para harmonia DeMolay</p>
            </div>

            <div class="item item-image">
                <iframe src="https://embed.spotify.com/?uri=spotify:user:matheusmpessoa17:playlist:2xll72qptSQcUaJv4Ao6T3&theme=white" width="290" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>

            <a class="item item-icon-left assertive" href="https://www.spotify.com/br/">
                <i class="icon ion-share"></i> spotify.com
            </a>
        </ion-item>
    </ion-content>
</ion-view>
