<ion-view view-title="Redes Sociais">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/logo-facebook.jpg">
                <p><b>Página Facebook</b></p>
            </div>

            <div class="item item-image">
                <!-- Page plugin's width will be 500px -->
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCapituloHiramAbif%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>

            <a class="item item-icon-left assertive" href="https://www.facebook.com/CapituloHiramAbif/">
                <i class="icon ion-social-facebook"></i> Ir para página
            </a>
        </div>
        <ion-item class="list card">
            <div class="item item-avatar">
                <img src="img/logo-youtube.png">
                <h2><b>Canal do Youtube</b></h2>
            </div>

            <div class="item item-body">
                <p>Canal do Youtube que contém toda a playlist contida aqui no app!</p>
            </div>

            <a class="item item-icon-left assertive" href="https://www.youtube.com/channel/UCAWlwPvsV2LsRaoq1PcnheQ">
                <i class="icon ion-social-youtube"></i> Ir para canal
            </a>
        </ion-item>
    </ion-content>
</ion-view>
