<ion-view view-title="Reuniões">
    <ion-content>
        <ion-item class="list card">
            <div class="item item-avatar">
                <img src="img/logo-brasao-demolay.jpg">
                <h2><b>Pauta da reunião</b></h2>
            </div>

            <div class="item item-body">
                <p>Pauta com conteúdo da reunião da atual gestão DeMolay.</p>
                <p>
                    <a href="#/app/reunioes/pautaReuniao" class="subdued"><i class="icon ion-calendar"></i> Pauta da reunião</a>
                </p>
            </div>
        </ion-item>
        <ion-item class="list card">
            <div class="item item-avatar">
                <img src="img/logo-spotify.png">
                <h2><b>Playlist Spotify</b></h2>
            </div>

            <div class="item item-body">
                <p>Playlist de músicas para se utilizar na harmonia da reunião DeMolay.</p>
                <p>
                    <a href="#/app/reunioes/playlistSpotify" class="subdued"><i class="icon ion-music-note"></i> Playlist Spotify</a>
                </p>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
