<ion-view view-title="Sobre Hiram Abif">
    <ion-content>
        <ion-list class="list">

            <!-- HISTÓRIA -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="../img/logo_hiram.jpg">
                    <h2>História</h2>
                </div>

                <div class="item item-body">
                    <h3>Fundação</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis veniam magni, consectetur dolorem neque impedit praesentium, harum quo quia inventore voluptatum. Saepe maxime assumenda doloremque reiciendis, cupiditate, corrupti sit laboriosam.
                    </p>
                </div>
                <div class="item item-body">
                    <h3>Instalação</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, ducimus qui temporibus amet. Quaerat tenetur laudantium dignissimos ipsa aliquid iste voluptate beatae iure sunt debitis animi, modi sed harum. Sint.
                    </p>
                </div>
                <div class="item item-body">
                    <h3>Logotipo</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, ducimus qui temporibus amet. Quaerat tenetur laudantium dignissimos ipsa aliquid iste voluptate beatae iure sunt debitis animi, modi sed harum. Sint.
                    </p>
                </div>
            </div><!-- FIM CARD HISTÓRIA -->
<br>
            <!-- ESTATÍSTICAS -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="../img/logo_hiram.jpg">
                    <h2>Estatísticas</h2>
                </div>
                <div class="item item-body">
                    <h3>Membros</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At optio consectetur facere quis magni quas quidem incidunt inventore quibusdam aliquid deserunt, nisi culpa ipsum voluptatum molestiae quasi impedit modi. Unde.
                    </p>
                </div>
            </div><!-- FIM CARD ESTATÍSTICAS -->
<br>
            <!-- CONSELHARIA -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="../img/logo_hiram.jpg">
                    <h2>Conselharia</h2>
                </div>
                <div class="item item-body">
                    <h3>Formação</h3>
                    <p>
                        A conselharia de um Capítulo DeMolay é constituida por três lideres: <br>
                        Mestre Conselheiro <br>
                        1º Conselheiro <br>
                        2º Conselheiro <br>
                    </p>
                    <p>
                        Veja mais:
                        <a href="#/app/sobreHa/conselharia" class="subdued">Linha do tempo da Conselharia</a>
                    </p>
                </div>
            </div><!-- FIM CARD CONSELHARIA -->
        </ion-list>
    </ion-content>
</ion-view>
