<ion-view view-title="Sobre">
    <ion-content>
        <ion-item class="list card">

            <div class="item item-avatar">
                <img src="../img/logo_hiram.jpg">
                <h2>Hiram Abif</h2>
                <p>Informações sobre o Capítulo Hiram Abif <br>nº419 da Ordem DeMolay</p>
            </div>

            <div class="item item-image">
                <img src="../img/logo_hiram.jpg">
            </div>

            <a class="item item-icon-left assertive" href="#/app/sobre/sobreHa">
                <i class="icon ion-chatbox-working"></i> Veja mais
            </a>

        </ion-item>
        <ion-item class="list card">

            <div class="item item-avatar">
                <img src="../img/logo-brasao-demolay.jpg">
                <h2>Hiram Abif</h2>
                <p>Informações sobre o Capítulo Hiram Abif <br>nº419 da Ordem DeMolay</p>
            </div>

            <div class="item item-image">
                <img src="../img/logo-brasao-demolay.jpg">
            </div>

            <a class="item item-icon-left assertive" href="#/app/sobre/sobreDm">
                <i class="icon ion-chatbox-working"></i> Veja mais
            </a>

        </ion-item>
    </ion-content>
</ion-view>
