<ion-view view-title="Sobre Hiram Abif">
    <ion-content>
        <ion-list class="list">

            <!-- HISTÓRIA -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/logo_hiram.jpg">
                    <h2><b>História</b></h2>
                </div>

                <div class="item item-body">
                    <h3>Fundação</h3>
                    <p>
                        O Capítulo “Hiram Abif”, nº 419 da Ordem DeMolay, foi fundado no dia 24 de agosto de 1999 e instalado cerca de um ano depois, no dia 9 de agosto de 2000, numa brilhante empreitada do Capítulo Santos, nº 286. Desde então, tem trabalhado por quase 20 anos na formação de jovens cidadãos e líderes, da Baixada Santista para o Brasil e para o mundo.
                    </p>
                </div>
                <div class="item item-body">
                    <h3>Logotipo</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, ducimus qui temporibus amet. Quaerat tenetur laudantium dignissimos ipsa aliquid iste voluptate beatae iure sunt debitis animi, modi sed harum. Sint.
                    </p>
                </div>
            </div>
            <!-- FIM CARD HISTÓRIA -->
            <br>
            <!-- ESTATÍSTICAS -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/logo_hiram.jpg">
                    <h2><b>A vida no DeMolay</b></h2>
                </div>
                <div class="item item-body">
                    <h3>Qualidades</h3>
                    <p>
                        São muitas as qualidades de um DeMolay e mais variadas aindas aquelas virtudes que ele deve desempenhar em sua vida cotidiana. E quantas incontáveis vezes entraram por nossas portas garotos tímidos e de pouca idade, mas que em curto tempo agiam e se portavam como homens, imbuídos de caráter e ideais coletivos? Dentre formar oradores eloquentes e prodigiosos intelectuais, a mais latente de nossas vocações sempre foi a união entre seus membros; não apenas uma amizade forte e duradoura, mas o autêntico exercício da irmandade, em seu mais puro significado.
                    </p>
                </div>
            </div>
            <!-- FIM CARD ESTATÍSTICAS -->
            <br>
            <!-- ESTATÍSTICAS -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/logo_hiram.jpg">
                    <h2><b>Estatísticas</b></h2>
                </div>
                <div class="item item-body">
                    <h3>Membros</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At optio consectetur facere quis magni quas quidem incidunt inventore quibusdam aliquid deserunt, nisi culpa ipsum voluptatum molestiae quasi impedit modi. Unde.
                    </p>
                </div>
            </div>
            <!-- FIM CARD ESTATÍSTICAS -->
            <br>
            <!-- CONSELHARIA -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/logo_hiram.jpg">
                    <h2><b>Conselharia</b></h2>
                </div>
                <div class="item item-body">
                    <h3>Formação</h3>
                    <p>
                        A conselharia de um Capítulo DeMolay é constituida por três lideres:
                        <br> Mestre Conselheiro
                        <br> 1º Conselheiro
                        <br> 2º Conselheiro
                        <br>
                    </p>
                    <p>
                        <a href="#/app/sobre/sobreHa/conselharia" class="subdued">Veja mais: <i>Linha do tempo da Conselharia H.A.</i></a>
                    </p>
                </div>
            </div>
            <!-- FIM CARD CONSELHARIA -->
        </ion-list>
    </ion-content>
</ion-view>
