<ion-view view-title="Sobre Ordem DeMolay">
    <ion-content>
        <ion-list class="list">

            <!-- INICIO CARD O QUE É -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/logo-brasao-demolay.jpg">
                    <h2><b>O que é a Ordem DeMolay</b></h2>
                </div>

                <div class="item item-body">
                    <h3>O que é</h3>
                    <p class="justificar">
                        A Ordem DeMolay é uma sociedade discreta de princípios filosóficos, fraternais, iniciáticos e filantrópicos, para jovens do sexo masculino com idade compreendida entre os 12 e os 21 anos.
                    </p>
                </div>
                <div class="item item-body">
                    <h3>Objetivo</h3>
                    <p class="justificar">
                        A Ordem DeMolay não tem a pretensão e não deseja tomar o lugar do Lar, da Igreja ou da Escola nessa busca do aperfeiçoamento, mas coadjuvá-los com um programa de ensinamentos, visando uma boa cidadania à seus membros.
                    </p>
                    <p class="justificar">
                        É baseado no espírito de fidelidade, liderança, responsabilidade e busca de um ideal que a Ordem DeMolay trabalha os valores e virtudes de seus membros, na busca de um mundo mais digno e justo para todos, sem distinções.
                    </p>
                    <p class="justificar">
                        Os ensinamentos da Ordem orientam seus membros a se dedicar à felicidade de seus semelhantes, não só porque a razão e a moral lhes impõem tal obrigação, mas também porque esse sentimento de solidariedade os faz irmãos.
                    </p>
                </div>
            </div>
            <!-- FIM CARD O QUE É -->
            <!-- INICIO CARD JOVEM -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/jovem-demolay.png">
                    <h2><b>Progresso de um jovem</b></h2>
                </div>
                <div class="item item-body">
                    <p class="justificar">
                        Os propósitos da Ordem DeMolay são sociais e de caráter construtivo. Pode-se dizer que as atividades são variadas, sempre com algo para todos.
                    </p>
                    <p class="justificar">
                        Na Ordem DeMolay o jovem é encorajado a se expressar e fazer suas opiniões conhecidas; falar com outros jovens e discutir problemas comuns à juventude.
                    </p>
                    <p class="justificar">
                        Também na Ordem DeMolay o jovem será ajudado a se tornar um tipo de pessoa que será um crédito para a sociedade, não por ser forçado a isso, mas porque sentirá uma vontade própria, porque esta é a coisa certa a fazer, como homem e como DeMolay.
                    </p>
                </div>
            </div>
            <!-- FIM CARD JOVEM -->
            <!-- INICIO CARD FUNDAÇÃO -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/logo-brasao-demolay.jpg">
                    <h2><b>Fundação</b></h2>
                </div>
                <div class="item item-body">
                    <p class="justificar">
                        A Ordem Demolay é uma organização para-maçonica fundada nos Estados Unidos, em 24 de Março de 1919, pelo maçom Frank Sherman Land patrocinada e mantida pela Maçonaria, oficialmente desde 1921, que na maioria dos casos cede espaço para as reuniões dos Capítulos DeMolays e Priorados da Ordem da Cavalaria - denominações das células da organização.São 7 preceptores, uma tríade, e outros cargos
                    </p>
                    <p class="justificar">
                        A Ordem é inspirada na vida e morte do nobre francês Jacques de Molay, 23º e último Grão-Mestre da Ordem dos Templários, morto em 18 de março de 1314 junto a 3 de seus preceptores por contestar as falsas acusações de prática de diversas heresias como infidelidade à Igreja, sodomia, adoração de ídolos etc.
                    </p>
                    <p class="justificar">
                        Pode-se acreditar que o motivo de tais acusações fosse a ambição do Rei Filipe IV, o Belo e o Papa Clemente V, pelas posses da Ordem dos Templários, pois em caso de prisão, os bens do acusado passariam a pertencer ao Estado francês.
                    </p>
                </div>
            </div>
            <!-- FIM CARD FUNDAÇÃO -->
            <!-- INICIO CARD QUALIFICAÇÕES -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/logo-brasao-demolay.jpg">
                    <h2><b>Ingresso</b></h2>
                </div>
                <div class="item item-body">
                    <p class="justificar">
                        Como requisito na ingressão desta grandiosa organização de jovens é necessário, sobretudo, a crer em um Deus, independente de qualquer religião, o jovem deve também trazer consigo os sete princípios básicos da Ordem DeMolay, ter idade compreendida entre 12 e 21 anos, além de ser indicado/apadrinhado por algum membro de algum Capítulo ou Maçon.
                    </p>
                </div>
            </div>
            <!-- FIM CARD QUALIFICAÇÕES -->
            <!-- INICIO CARD NO MUNDO -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/logo-scodb.png">
                    <h2><b>DeMolay sênior</b></h2>
                </div>
                <div class="item item-body">
                    <p class="justificar">
                        O DeMolay que completa 21 anos de idade, é denominado Sênior DeMolay, perde seu direito a voto e o de ocupar cargos efetivo e passa a poder acompanhar os trabalhos do Capítulo através da "Associação DeMolay Alumni". No Brasil, a Ordem é distribuída em mais de setecentos e noventa capítulos, sendo que os milhares de DeMolays regulares de todos os Estados da federação se reúnem freqüentemente.
                    </p>
                </div>
            </div>
            <!-- FIM CARD NO MUNDO -->
            <!-- INICIO CARD NO MUNDO -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/planeta.png">
                    <h2><b>DeMolay no mundo</b></h2>
                </div>
                <div class="item item-body">
                    <p class="justificar">
                        A Ordem Demolay possui cerca de 8 milhões de membros em todo o mundo e mais de 200 mil no Brasil. No mundo, a Ordem DeMolay pode ser encontrada em vários países como Argentina, Aruba (Países Baixos), Alemanha, Austrália, Bolívia, Brasil, Canadá, Colômbia, Estados Unidos, Filipinas, França, Guam (Estados Unidos), Itália, Japão, México, Panamá, Paraguai, Peru e Uruguai.
                    </p>
                </div>
            </div>
            <!-- FIM CARD NO MUNDO -->
            <!-- INICIO CARD DM E MAÇONARIA -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/logo-macon.png">
                    <h2><b>DeMolay e a maçonaria</b></h2>
                </div>
                <div class="item item-body">
                    <p class="justificar">
                        Ao contrário do que muitos pensam, a Ordem DeMolay não é uma instituição Maçônica Juvenil, mas, unificada e dirigida por Maçons, organizada em sua origem como Supremo Conselho Internacional da Ordem DeMolay, em Kansas City, EUA.
                    </p>
                </div>
            </div>
            <!-- FIM CARD DM E MAÇONARIA -->
            <!-- INICIO CARD NOME -->
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/jacques-demolay.jpg">
                    <h2><b>A escolha do nome “DeMolay”</b></h2>
                </div>
                <div class="item item-body">
                    <p class="justificar">
                        Antigamente, os cavaleiros carregavam em seu nome, o código da sua cidade natal. Jacques foi o 23º Grão-Mestre da Ordem dos Cavaleiros Templários do Templo de Salomão, como era da cidade Molay, na França, carregou este nome além do túmulo, formando assim Jacques De Molay, referência a sua cidade, isso não só aconteceu com ele, mas com todos os outros cavaleiros.
                    </p>
                    <p class="justificar">
                        O "sobrenome" DeMolay, foi em homenagem ao Jacques DeMolay. Frank Sherman Land (fundador da Ordem) escolheu este nome por causa do caráter de Jacques, que foi condenado à morte sem entregar os seus amigos, um exemplo ilustre de fidelidade, lealdade, honra e coragem. Então, o nome foi colocado em homenagem ao caráter, em memória a personalidade de Jacques, ele não foi o criador, foi apenas um "objeto" de inspiração.
                    </p>
                </div>
            </div>
            <!-- FIM CARD NOME -->
        </ion-list>
    </ion-content>
</ion-view>
