<ion-view view-title="Área restrita">
    <ion-content>
        <ion-item class="list card">
            <div class="item item-avatar">
                <img src="img/logo-brasao-demolay.jpg">
                <h2><b>Pauta da reunião</b></h2>
            </div>

            <div class="item item-body">
                <p>Pauta com conteúdo da reunião da atual gestão DeMolay.</p>
                <p>
                    <a href="#/app/arearestrita/pautaReuniao" class="subdued"><i class="icon ion-calendar"></i> Pauta da reunião</a>
                </p>
            </div>
        </ion-item>
        <ion-item class="list card">
            <div class="item item-avatar">
                <img src="img/logo_hiram.jpg">
                <h2><b>Estatística de Membros</b></h2>
            </div>

            <div class="item item-body">
                <p>Dados de membros do Capítulo Hiram Abif.</p>
                <p>
                    <a href="#/app/arearestrita/estatisticasMembros" class="subdued"><i class="icon ion-calendar"></i> Estatísticas de membros</a>
                </p>
            </div>
        </ion-item>

        <ion-item class="list card">
            <div class="item item-avatar">
                <img src="img/telefone.png">
                <h2><b>Agenda de contatos</b></h2>
            </div>

            <div class="item item-body">
                <p>Agenda de contatos de todos os membros do Capítulo Hiram Abif.</p>
                <p>
                    <a href="#/app/arearestrita/agendaContatos" class="subdued"><i class="icon ion-calendar"></i> Agenda de Contatos</a>
                </p>
            </div>
        </ion-item>

    </ion-content>
</ion-view>
