<ion-view view-title="Estatisticas Membros C.H.A.">
    <ion-content>
        <div class="divider-title">Membros</div>
        <div class="list">
            <a class="item">
                <p><b>Total de membros do C.H.A: </b>226</p>
            </a>
        </div>
        <div class="divider-title">Estatisticas de Iniciações e Elevações</div>
        <ul class="timeline">
            <li ng-repeat="item in estatisticasMembros">
                <div class="timeline-thumb bg-color-darkseagreen timeline-icon">
                    <h5>{{item.ano}}</h5>
                </div>
                <div class="timeline-item">
                    <h5><b>Iniciados: </b> {{item.iniciacao}}</h5>
                    <h5><b>Elevados: </b> {{item.elevacao}}</h5>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
